<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/admin-panel/lib/bootstrap-4.3.1-dist/css/bootstrap.css">
    <script src="/admin-panel/lib/jquery/jquery.js"></script>
    <script src="/admin-panel/lib/popper.js/popper.js"></script>
    <script src="/admin-panel/lib/bootstrap-4.3.1-dist/js/bootstrap.js"></script>
    <script src="/admin-panel/lib/chart.js/chart.js"></script>
    <link rel="stylesheet" href="/admin-panel/lib/DataTables/datatables.css">
    <script src="/admin-panel/lib/DataTables/datatables.js"></script>
    <script src="/admin-panel/lib/ckeditor5-build-classic/ckeditor.js"></script>
    <link rel="stylesheet" href="/admin-panel/styles/style.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid section-height border p-5">
                total students
                high scores
                completion rate
                total game time
                avg level attempts
                avg guess rate
            </div>
        </div>
    </div>
</body>

</html>