<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <link rel="stylesheet" href="/redesign/lib/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/redesign/lib/styles/style.css">
    <script src="/redesign/lib/jquery/jquery.js"></script>
    <script src="/redesign/lib/popper/popper.js"></script>
    <script src="/redesign/lib/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    <div class="container-fluid text-white p-5 colors-pastel-3 section-custom">
        <div class="row">
            <div class="col-sm-10 mx-auto border text-center p-3 text-size-6">
                Author – Dr. Davia Hudson-Holness
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 mx-auto border text-center text-size-3 p-3 mt-3">
                Thanks to the following Miami Dade (MDC) College professor, staff and students who made this game a
                reality:
            </div>
        </div>
        <div class="row">
            <div class="border col-sm-10 mx-auto mt-3 p-3">
                <div class="col-sm-12 border-bottom text-center p-2 text-capitalize text-size-3 mt-1">
                    Professor - David Freer
                </div>
                <div class="col-sm-12 border-bottom text-center p-2 text-capitalize text-size-3 mt-1">
                    Staff - John Stilien
                </div>
                <div class="col-sm-12 border-bottom text-center p-2 text-capitalize text-size-3 mt-1">
                    Students - Jason Balladares, Earl Cameron, Francisco Belliard, Jorge Sanchez, Kevin Quinones
                </div>
            </div>
        </div>
        <div class="row">
            <div class="border col-sm-10 mx-auto text-center text-size-4 p-3 mt-3">
                Special thanks to Miami Dade College’s President’s Innovation Fund and the ARCOS Grant that provided the
                resources for the creation of this game.
            </div>
        </div>
    </div>
</body>

</html>