<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <link rel="stylesheet" href="/redesign/lib/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/redesign/lib/styles/style.css">
    <script src="/redesign/lib/jquery/jquery.js"></script>
    <script src="/redesign/lib/popper/popper.js"></script>
    <script src="/redesign/lib/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    <div class="row section-custom colors-pastel-1">
        <div class="container-fluid text-white p-5 align-self-center">
            <div class="row">
                <div class="col-sm-8 mx-auto border shadow p-3 text-center text-capitalize text-size-6">
                    Download the game!
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 mx-auto mt-3 shadow-lg">
                    <div class="row">
                        <div class="col-sm-6 mt-3 p-3 colors-pastel-10">
                            <div class="">
                                <img src="/redesign/images/appstore.png" class=" mx-auto d-block" height="100%"
                                    width="100%" alt="Download here">
                            </div>
                        </div>
                        <div class="col-sm-6 mt-3 p-3 colors-pastel-7">
                            <div class="">
                                <img src="/redesign/images/googleplay.png" class="mx-auto d-block" height="100%"
                                    width="100%" alt="Download here">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>