<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Landing page</title>
    <link rel="stylesheet" href="/redesign/lib/bootstrap-4.3.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/redesign/lib/styles/style.css">
    <script src="/redesign/lib/jquery/jquery.js"></script>
    <script src="/redesign/lib/popper/popper.js"></script>
    <script src="/redesign/lib/bootstrap-4.3.1-dist/js/bootstrap.bundle.js"></script>
</head>

<body>
    <div class="row colors-pastel-2 section-custom">
        <div class="container-fluid text-white p-5 align-self-center">
            <!-- Heading for section -->
            <div class="row">
                <div class="col-sm-10 mx-auto text-capitalize text-center border text-size-5 shadow">
                    section title
                </div>
            </div>
            <!-- Body for section -->
            <div class="row mt-5">
                <div class="col-sm-10 mx-auto shadow border p-4">
                    <div class="row">
                        <div class="col-sm-6 text-size-3">
                            Col A
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quaerat id nisi nostrum,
                            mollitia
                            nihil
                            inventore, incidunt, omnis commodi ab quos laboriosam voluptatum odit neque veritatis
                            voluptatibus
                            autem
                            illo dicta?
                        </div>
                        <div class="col-sm-6 text-size-3">
                            Col B
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>