{% extends "base.html" %}
{% block index %}
<nav class="navbar navbar-expand-sm navbar-dark">
    <ul class=" navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/login" data-toggle="tooltip" title="Login/Register!">
                <i class="material-icons border p-1 rounded shadow bg-white">
                    people_outline
                </i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-black-50" href="/contact" data-toggle="tooltip" title="Contact Us!">
                <i class="material-icons border p-1 rounded shadow bg-white">
                    mail_outline
                </i>
            </a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-auto mx-auto">
            <img src="/static/images/logo.png" alt="" height="128px" width="256px">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 mx-auto mt-5 mb-5 border p-4 rounded mission text-white text-center shadow">
            <h3>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, eaque laudantium a minus culpa
                voluptates natus esse vero ab id explicabo expedita quae voluptatibus cumque beatae officia at, et
                soluta?
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto mx-auto mt-5 m-3">
            <button class="col-sm-auto btn btn-primary shadow" data-toggle="collapse" data-target="#downloads">
                Get the App
                <i class="material-icons md-18">
                    get_app
                </i>
            </button>
        </div>
    </div>
    <div class="row">
        <div id="downloads" class="collapse col-sm-auto mx-auto">
            <i class="col-sm-auto material-icons md-48 border p-3 rounded shadow bg-white text-center">
                android
            </i>
            <i class="col-sm-auto material-icons md-48 border p-3 rounded shadow bg-white text-center">
                phone_iphone
            </i>
            <i class="col-sm-auto material-icons md-48 border p-3 rounded shadow bg-white text-center">
                desktop_windows
            </i>
            <i class="col-sm-auto material-icons md-48 border p-3 rounded shadow bg-white text-center">
                laptop_windows
            </i>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-auto mx-auto mt-5 m-3">
            <button class="col-sm-auto btn btn-primary shadow" data-toggle="collapse" data-target="#credits">
                Contributors
                <i class="material-icons md-18">
                    people
                </i>
            </button>
        </div>
    </div>
    <div class="row">
        <div id="credits" class="col-sm-auto mx-auto m-3 collapse container-fluid text-center bg-warning p-3 shadow rounded">
            Jason Balladares | Francisco Belliard | David Freer | Earl Cameron | Linet Hernandez
        </div>
    </div>
</div>
{% endblock %}