{% extends "base.html" %}
{% block recover %}
<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="/">
            <i class="material-icons md-36">
                home
            </i>
        </a>
    </ul>
</nav>
<div class="container-fluid">
    {% if error %}
    <!-- alert -->
    <div class="row">
        <div class="container-fluid">
            <div class="alert alert-warning col-8 mx-auto mt-2 text-center">
                <strong>{{error}}</strong>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- recovery page -->
    <div class="row" style="visibility: visible;">
        <div class="col-sm-8 mx-auto mt-5 mb-5">
            <form action="/recover" method="post">
                <div class="form-group">
                    <div class="form-group">
                        <label for="exampleInputEmail1">
                            Email address</label>
                        <input name="email" type="email" class="form-control {{email}}" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email" value="{{emailval}}">
                    </div>
                    <div class="form-group">
                        <label for="sel1">Security Question</label>
                        <select class="form-control {{question}}" id="sel1" name="security">
                            <option selected disabled>Choose one</option>
                            <option selected value="1">What is your mother’s maiden name?</option>
                            <option value="2">What was the name of your first/current/favorite pet?</option>
                            <option value="3">What city were you born in?</option>
                            <option value="4">Where did you go to high school/college?</option>
                            <option value="5">Where is your favorite place to vacation?</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="sel2">Security Question</label>
                        <input class="form-control  {{answer}}" id="sel2" name="answer">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <small id="registerorrecover" class="form-text text-muted">
                        <a href="/login">Do you want to login? </a> | <a href="/register">Do you want to
                            register?</a>
                    </small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}