section-height {
    min-height: 512px;
}

/* color scheme */

colors-a-1 {
    background-color: #89aeb2;
}

colors-a-2 {
    background-color: #97f2f3;
}

colors-a-3 {
    background-color: #f1e0b0;
}

colors-a-4 {
    background-color: #f1cdb0;
}

colors-a-5 {
    background-color: #e7cfc8;
}